:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    -webkit-text-size-adjust: 100%;
}

*, *::before, *::after {
    box-sizing: border-box;
}


html {
    height: 100%;
    width: 100%;

}


body {
    height: 100%;
    width: 100%;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f5f5f5;
    overflow-x: hidden;
    overflow-y: hidden;
    min-width: 280px;

}


#root {
    height: 100%;
    width: 100%;
}